<!DOCTYPE html>
<html>
<head>
     <title> <%= team.name %> details </title>
</head>
<body>

     <h1> <%= team.name %> (<%= team.code %>)</h1>
     <br />
     <p>
          <%= team.name %> is from <%= team.country.name %>.
     </p>
     <br />
     <br />
     <a href="/">back</a>
</body>
</html>
